# Auto detect text files and perform LF normalization
* text=auto

git lfs track "*.mp4"
git lfs track "*.png"
git lfs track "*.jpeg"
git lfs track "*.svg"
git lfs track "*.ttf"
git lfs track "*.NEF"

