.Collapsible {
    display: block;
    color: white;
    font-family: Roboto-Regular, Arial;
    font-weight: bolder;

    background-color: #8d8d8d;
    cursor: pointer;

    font-size: 15px;
    padding: 18px;

    border: none;
    text-align: left;
    outline: none;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}




.active, .Collapsible{
    background-color: #656565;
}

.CollapsibleContent {
    display: block;
    background-color: rgb(42, 42, 42);
    padding: 0 18px;


    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 15px;


    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-out;
}



