.Collapsible {
    color: white;
    font-family: Roboto-Regular, Arial;
    font-weight: bolder;

    background-color: #8d8d8d;
    color: #000000;
    cursor: pointer;

    height: 30px;
    font-size: 15px;
    padding: 18px;

    border: none;
    text-align: left;
    outline: none;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.Collapsible h1{
    color: white;
    font-family: Roboto-Regular, Arial;
    margin-top: 0px;
    font-size: 16px;
    padding-top: 6px;

    user-select: none;
}


.active, .Collapsible{
    background-color: #656565;
}

.CollapsibleContent {
    display: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 18px;
    overflow: hidden;


    border: 3px #ffffff Solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

