@font-face {
    font-family: Roboto-Regular;
    src: url("../Assets/Fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../Assets/Fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Coda;
    src: url("../Assets/Fonts/Coda/Coda-Regular.ttf");
}

@font-face {
    font-family: Kosugi;
    src: url("../Assets/Fonts/Kosugi/Kosugi-Regular.ttf");
}