.ImageSlide_Container {
    max-width: 65%;
    position: relative;
    margin: 10px;
    border-radius: 10px;

    display: flex;
    align-content: center;
    justify-content: center;
}

.ImageSlide {
    display: none;
    height: 45%;
}

