@import "FontSheet.css";

html {
    scroll-behavior: smooth;
}

h1,h2,h3 {
    color: white;
    font-family: Roboto-Regular,Arial;
    margin-bottom: 5px;
}



p {
    color: white;
    font-size: 15px;
    font-family: Roboto-Regular;
    font-weight: bold;

    margin-right: 30%;
    line-height: 20px;
}

li {
    font-size: 15px;
    font-family: Roboto-Regular;
    font-weight: bold;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #000000;
}

.ContentBody  {
    display: block;
    background-color: rgba(194, 194, 194, 0);

    max-width: 720px;
    min-height: 100vh;
    height: auto;

    margin: auto;
    padding: 20px;

    overflow: hidden;
}

.ContentSection {
    background-color: rgb(105, 105, 105);
    width: 100%;
    min-height: 200px;
    border-radius: 10px;

    overflow: auto;
}

.ContentSection p{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.Header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);

    min-height: 100px;


    overflow: hidden;
}

.Header h1 {
    display: inline;
    font-size: 25px;
    color: white;

    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 2px;
}

.Header h2 {
    position: absolute;
    display: inline-block;
    font-size: 15px;
    color: #c2c2c2;

    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.SubTitle {
    display: block;
    font-family: Coda,Arial;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    width: auto;
    text-align: center;
    margin: 10px auto;
}

.ProfilePic {
    position: relative;
    display: inline;
    border-radius: 50%;
    float: right;
    height: 60px;
    width: auto;

    margin-right: 10%;
    overflow: hidden;
}

.LinkBox {
    border-radius: 10px;
    margin: 20px 10px;
    width: auto;

    min-height: 100px;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
}

.LinkBox div{
    border-radius: 10px;
}

