@import url("FontSheet.css");
@import url("Animation.css");

html {
    scroll-behavior: smooth;
}

h1,h2,h3,h4 {
    color: white;
    font-family: Roboto-Regular,Arial;
    margin-bottom: 10px;
}

.GhostTitle{
    font-family: Kosugi;
    position: relative;
    transform: translateY(-15px) translateX(5vw);
    opacity: 0.5;
    margin-bottom: 0;
    margin-top: 0;
}

.ImageTitle {
    color: grey;
    font-weight: bolder;
    margin-bottom: 10px;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

.Page_Divider {
    display: block;
    width: 100%;
    height: 10px;
    background-color: #8e8e8e;
    border-radius: 2px;

}

.CenterTitle{
    color:white;
    text-align: center;
    font-family: Roboto-Regular, Arial;

}



p {
    font-family: Roboto-Regular, Arial;
    color: white;
    font-size: 15px;
    font-family: Roboto-Regular;
    font-weight: bold;

    margin-right: 15%;
    line-height: 20px;
}

.CenterImage{
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: auto;
    margin-bottom: 10px;
}

a{
    color: #0000ff;
}

a:visited {
    color: #9d31ff;
}

li {
    color: white;
    font-size: 16px;
    font-family: Roboto-Regular;
    font-weight: bold;
}



a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #000000;
}

.ContentBody  {
    display: block;
    background-color: rgba(194, 194, 194, 0);

    max-width: 720px;
    min-height: 80vh;
    height: auto;

    margin: auto;
    padding: 0px 20px;

    overflow: hidden;

    animation: FadeIn 2s;
}


.ContentSection {
    background-color: rgb(105, 105, 105);
    width: 100%;
    min-height: 200px;
    border-radius: 10px;

    overflow: auto;
}

.ContentSection p{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.Header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    z-index: 100;
    background-color: rgb(22, 35, 136);
    backdrop-filter: blur(5px);

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    min-height: 100px;
    overflow: hidden;

    animation: FadeIn 2s,FromTop 2s;
}

.Header h1 {
    display: inline;
    font-size: 25px;
    color: white;

    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 2px;
    user-select: none;
}

.Header h2 {
    position: absolute;
    display: inline-block;
    font-size: 15px;
    color: #c2c2c2;

    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.SubTitle {
    display: block;
    font-family: Coda,Arial;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);

    width: auto;
    text-align: center;
    margin: 10px auto;
}

.ProfilePic {
    display: inline;
    border-radius: 50%;
    float: right;
    height: 60px;
    width: auto;

    margin-right: 2%;
    overflow: hidden;

}

.LinkButton {
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #656565;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    padding-top: 10px;
    font-family: Roboto-Regular, Arial;
    font-weight: bold;

    height: 50px;
    cursor: pointer;

    outline: solid white 0px;
    transition: outline 0.1s ease-out;

    margin-bottom: 10px;
}

.LinkButton:after {
    position: relative;
    content: "";
    width: 25px;
    height: 25px;
    float: right;


    transform: translateY(-25%);
    background-image: url("../Assets/Icons/Google_Icons/open_in_new_FILL1_wght400_GRAD0_opsz48.svg");
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 0;
}

.LinkButton:hover {
    outline-width: 4px;
}

.LinkButton_Icon {
    border-radius: 2px;
    height: 30px;
    width: auto;

    float:right;
    transform: translateY(-15%);
}


